.firstBox {
    margin-left:115px;
    width: 300px;
    height: 300px;
    display:flex;
    justify-content:center;
    align-items:center;
    background: #EFEFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 18px;
}
.secondBox {
    width: 278.31px;
    height: 278.31px;
    display:flex;
    justify-content:center;
    align-items:center;
    background: #FFFFFF;
    border: 2px solid #ECEEF7;
    box-shadow: 0px 20px 50px rgba(220, 224, 249, 0.5);
    border-radius: 20px;

}
.spanItem {
    color: black;
    font-size: 30px;
    font-weight: bold;
    display: inline;
}

.selectBox {
    width: 530px;
height: 600px;

padding: 10px;

background: #FFFFFF;
border: 2px solid #ECEEF7;
box-shadow: 0px 20px 50px rgba(220, 224, 249, 0.5);
border-radius: 20px;
}
.styleBox {
    justify-content: center;
    
    margin-left: 60px;
    margin-right:60px;
    margin-top: 30px;
    margin-bottom:30px;
    height: 86.04px;
    background: #F2F1FF;
    border-radius: 12.2195px;
}
.pleaseChoose {
    margin-top: 15px;
    text-align: center;
    font-size: 23px;
    font-weight: bold;
}
.styleBox .style {
    width: inherit;
    height: inherit;
    background: transparent;
    border: 0 none;
    outline: 0 none;
    margin-left: 90px;
    position: relative;
    z-index: 3;
    font-size: 25px;
    font-weight: bold;
    
  }
  .styleBox .style option {
    background: #F2F1FF;
    margin-left: 80px;
    padding:3px 0;
    font-size: 20px;
  }
  .form {
    color: black;
    font-size: 25px;
    font-weight: bold;
    margin-left: 90px;
    margin-top:20px;

}
.label {
    margin-right: 10px;
}
