@font-face {
    font-family: 'Happiness-Sans-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/Happiness-Sans-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
.selectBtn {
    cursor:pointer;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left:20px;
    padding-right:20px;
    margin-bottom:10px;
    color:white;
    font-size: 30px;
    font-weight: bold;
    justify-content: center;
    display:flex;
    align-items: center;
    vertical-align: center;
    background: #7B97F0;
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    border-style: none;
    }

.selectOption {
    font-family: 'Happiness-Sans-Bold';
    color: #2C2C2C;
    font-size: 45px;
}