.topColor1 {
    width: 193px;
    height: 176px;
    background: #322B2D;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    }
.bottomColor1 {
    width: 193px;
    height: 176px;
    background: #99848A;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}
.bottomColor2 {
    width: 193px;
    height: 176px;
    background: #66585C;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}
.bottomColor3 {
    width: 193px;
    height: 176px;
    background: #0D0D0B;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}
.imgspan{
    width:150px;
    height:100px
}
.topoftop {
    height:150px;
    width: 100%;
}
.topoftop2 {
    height:10px;
    width: 100%;
}

.firstspan {
    display:block;
    margin-left:20px;
    font-size: 25pt;
    font-weight: bold;
    font-family: serif;

}
.secondspan{
    display:block;
    margin-left:20px;
    font-weight: bold;
    font-family: serif;
}
.thirdspan {
    display:block;
    margin-left:20px;
}
.brandspan{
    display:block;
    margin-left:20px;
    margin-top: 15px;
    font-weight: bold;
    font-size: 18px;
}
.namespan{
    font-size: 18px;
    font-weight: bold;
    display:block;
    margin-left:20px;
}
.pricespan{
    margin-bottom: 5px;
    font-weight: bold;
    display:block;
    margin-left:20px;
    font-size: 18px;
}
.imgTag {
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
}