@font-face {
    font-family: 'GangwonEduPowerExtraBoldA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduPowerExtraBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Happiness-Sans-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/Happiness-Sans-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
.topColor1 {
    width: 193px;
    height: 176px;
    background: #322B2D;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    }
.bottomColor1 {
    width: 193px;
    height: 176px;
    background: #99848A;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}
.bottomColor2 {
    width: 193px;
    height: 176px;
    background: #66585C;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}
.bottomColor3 {
    width: 193px;
    height: 176px;
    background: #0D0D0B;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}
.imgspan{
    width:150px;
    height:100px
}
.topoftop {
    height:150px;
    width: 100%;
}
.topoftop2 {
    height:10px;
    width: 100%;
}

.firstspan {
    display:block;
    margin-left:20px;
    font-size: 25pt;
    font-weight: bold;
    font-family: serif;

}
.secondspan{
    display:block;
    margin-left:20px;
    font-weight: bold;
    font-family: serif;
}
.thirdspan {
    display:block;
    margin-left:20px;
}
.recommendItem {
    font-family: 'Happiness-Sans-Bold';
    font-size: 40px;
}
.brandspan{
    font-family: 'GangwonEduPowerExtraBoldA';
    display:block;
    margin-left:20px;
    margin-top: 25px;
    font-size: 17px;
    color:#636363;
}
.namespan{
    font-family: 'GangwonEduPowerExtraBoldA';
    font-size: 23px;
    font-weight: bold;
    display:block;
    margin-left:20px;
    color:#0D0D0B;
}
.pricespan{
    font-family: 'GangwonEduPowerExtraBoldA';
    margin-bottom: 5px;
    font-weight: bold;
    display:block;
    margin-left:20px;
    font-size: 20px;
    color:#0D0D0B;
}
.imgTag {
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
}